<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKr6opG3R0s_ScCeqLTdW350DTxJqqLIU</string>
	<key>GCM_SENDER_ID</key>
	<string>720084868040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hammamManager</string>
	<key>PROJECT_ID</key>
	<string>hammam-equipo-triana</string>
	<key>STORAGE_BUCKET</key>
	<string>hammam-equipo-triana.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720084868040:ios:0a42d54ae1c4bebf82befd</string>
</dict>
</plist>